
<div class="col-md-offset-2 col-md-8">
		<div class="container">

<h1>About us</h1>
<p>We are a web based publication called THE FOOD TRUCK DIGEST and we provide reliable, up to date and relevant information for the food truck industry.</p>
<p>We work directly with the best food truck businesses, and all regional governing bodies. This enables subscribers/food truck owners to run their business to the best of their ability with the information we provide.</p>
		</div>
	</div>
