
	<div class="jumbotron masthead masthead-truck">
     <h1>Food Truck Digest</h1>
     <br>
     <p class="lead">Start, Grow, and Succeed in the food truck business with the most reliable source of information in the industry</p>

     <% if user_signed_in? %>
     	# do something
     <% else %>	
     <div class="container">
	    	<%= link_to "Sign Up Here", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	    	<% end %>
     </div>
   </div>

    <section id="sales-letter">
			<div class="container">
				<div class="row">
				<%= render 'layouts/row' %>	
				</div>
			</div>	
		</section>	