<div class="wrapper">
  <div class="container marketing">
     
      <!-- START THE FEATURETTES -->

      <div class="row featurette laws">
        <div class="col-md-7">
          <h2 class="featurette-heading">Useful information <span class="text-muted">Know all about laws and taxes.</span></h2>
          <p class="lead">The biggest database with laws for every major city with food truck business. Use our online calculator to set up your taxes according to your state laws.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://i.imgur.com/T4KviqK.png" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette connect">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="#" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Connect with the community <span class="text-muted">Talk with food truck owners.</span></h2>
          <p class="lead">Food truck owners can exchange ideas with other owners, talk about laws in their regional areas and discuss how to make your business grow in the mobile food industry.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette begginig">
        <div class="col-md-7">
          <h2 class="featurette-heading">Food Truck 101 <span class="text-muted">All you need to start your business</span></h2>
          <p class="lead">Thinking about starting your food truck business? Learn everything you need to know about laws in your state, truck manafactures and marketing your business</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="#" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- Three columns of text belowl -->
      <div class="color">
        <div class="container">
         <div class="team">
            <p> Meet The Team </p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="http://i.imgur.com/N6n6NO1.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
              <h2>Heidi Hillenbrand</h2>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="http://i.imgur.com/O7fPkwA.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
              <h2>Ryan Craig</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
             
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="http://i.imgur.com/Bis9FGa.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
              <h2>Breno Baldrati</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              </div>
          </div><!-- /.col-lg-4 -->

</div><!-- /.container -->
    </div> <!-- /.color -->

 