<div id="intro-video-modal" class="modal fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" id="teaser-video">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe id="vimeoplayer" src="https://player.vimeo.com/video/77560204?title=0&byline=0&portrait=0&color=ffffff&api=1&player_id=vimeoplayer" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>